#headerRow{
  background-color: aquamarine;
}

.market-mention{
  margin: 8px;
}
.token-metadata-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.token-metadata-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.token-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.token-metadata-body {
  margin-top: 20px;
}

.token-metadata-body p {
  margin: 5px 0;
}

.warning {
  color: red;
}